{% extends 'personas/base.html' %}
{% block content %}
        <table class="table table-bordered">
            <tbody>
                    {% for persona in personas %}
                    <tr>
                        <td>{{ persona.idpersona }}</td>
                        <td><a href="{% url 'persona_detail' pk=persona.pk %}"> {{ persona.nombre }}</a></td>
                        <td> {{ persona.apellido }}</td>
                        <td> Fecha de Nacimiento: {{ persona.fechanac }}</td>
                        <td>{{ persona.observaciones|linebreaksbr }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>

{% endblock %}



