<html>
    <head>
        <title>Iglesia Baigorria</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Iglesia Baigorria - Registro</a></h1>
        </div>

        {% for persona in personas %}
        <div>
            <p> Nombre: {{ persona.nombre }}</p>
            <p> Apelido: {{ persona.apellido }}</p>
            <p> Fecha de Nacimiento: {{ persona.fechanac }}</p>
            
            <p>{{ persona.observaciones|linebreaksbr }}</p>

        </div>
        {% endfor %}


    </body>
</html>